/* General styles */
.buy-tickets-container {
  padding: 20px;
  box-sizing: border-box;
}

.main {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
}

.socod {
  color: #2c3e50;
  text-transform: uppercase;
}

/* Flex container styles */
.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  /* Ensure this stays flexible */
}

/* Iframe container */
.iframe-container {
  flex: 1;
  min-width: 300px; /* Prevents iframe from getting too narrow */
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.iframe-container iframe {
  width: 100%;
  max-width: 90vw; /* Ensure it takes up less space on small screens */
  height: 70vh; /* Use viewport height to adjust iframe's height */
  border-radius: 8px;
  border: 3px solid #bfcbda88;
  object-fit: contain; /* Ensures the iframe content doesn't overflow */
}

/* Right container with QR Code and Notes */
.right-container {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.qr-code-container {
  text-align: center;
  margin-bottom: 20px;
}

.qr-code-container img {
  width: 70%; /* Make the QR code smaller for smaller screens */
  max-width: 150px; /* Limit size for small screens */
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Note section */
.note-section {
  font-size: 14px;
  line-height: 1.6;
}

.note-text {
  font-size: 0.9rem;
  color: #fff;
}

/* Text size adjustments */
.text-6xl {
  font-size: 1.8rem;
  font-weight: bold;
}

/* Mobile-specific tweaks */
@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .iframe-container {
    margin-bottom: 6px;
    max-width: 100%;
  }

  .iframe-container iframe {
    max-width: 100%;
    height: 70vh; /* Adjust iframe to 50% of the viewport height */
  }

  .qr-code-container img {
    width: 120px;
    height: 120px;
    max-width: 100%;
  }

  .note-section {
    font-size: 14px;
  }

  .note-text {
    font-size: 14px;
  }

  .text-7xl {
    font-size: 2.5rem;
  }

  .text-6xl {
    font-size: 1.5rem;
  }

  .socod {
    font-size: 1.25rem;
  }
}
